# اجعل GitHub يتعرف على ملفات Dart كمصدر أساسي
*.dart linguist-detectable=true
*.dart linguist-language=Dart

# تجاهل ملفات C++ وC وObjective-C
*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.h linguist-detectable=false
*.mm linguist-detectable=false
*.m linguist-detectable=false
*.CMake linguist-detectable=false

# تجاهل ملفات Build وGradle وXcode وIDE
build/** linguist-vendored=true
.gradle/** linguist-vendored=true
.ios/** linguist-vendored=true
.android/** linguist-vendored=true
.idea/** linguist-vendored=true
*.iml linguist-vendored=true
