*.dart linguist-detectable=true
*.dart linguist-language=Dart

# تجاهل ملفات C++ وC وObjective-C
*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.h linguist-detectable=false
*.mm linguist-detectable=false
*.m linguist-detectable=false

# تجاهل ملفات Build أو Gradle
build/** linguist-vendored=true
.gradle/** linguist-vendored=true
.idea/** linguist-vendored=true
*.iml linguist-vendored=true
